@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

section {
    height: 100vh;
    scroll-snap-align: center;
}

.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    scrollbar-width: none;
    color: white;
    background: url("./img/bg.jpeg");
    background-position: center;
    background-size: cover;
}

.container::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    justify-content: center;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 1200px;
}

.logo {
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 2rem;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    padding: 0 5px;
    font-size: 1rem;
    text-transform: uppercase;
}

nav a::after {
    content: "";
    position: absolute;
    background-color: #ffc;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

nav a:hover::after {
    width: 100%;
}